<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thymeleaf 3 example</title>
    <script type="text/javascript">
        var performance=window.performance||window.msPerformance||window.webkitPerformance;
        if (performance){
            //your codes
        }
    </script>
</head>
<body>
<h1>User hobbies</h1>
<ul>
    <li th:each="hobby : ${hobbies}"
        th:text="${hobby}">
        Cinema
    </li>
</ul>
<button type="button" onclick="javascript:void(0)">Show secret code</button>
<div id="code"></div>
</body>
</html>